/* Reactive.css */

/* ? 데스크톱(PC) 기준 스타일 */
@media (min-width: 768px) {
  .HomePC {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
  }

  .menu ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup-buttons {
    gap: 40px;
  }

  .result-actions {
    gap: 40px;
  }

  .reset-button,
  .voice-guide {
    padding: 14px 24px;
    font-size: 18px;
  }
}


/* ? 모바일 기준 스타일 */
@media (max-width: 767px) {
  .HomeMobile {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }


  .result-actions {
    gap: 16px;
  }

  .reset-button,
  .voice-guide {
    padding: 12px 18px;
    font-size: 16px;
  }

  .confirmation-popup .popup-content {
    max-width: 90vw;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 16px;
  }

  .popup-buttons {
    flex-direction: column;
    gap: 12px;
    display: flex;
    align-items: center;
  }

  .popup-buttons button {
    font-size: 20px;
    height: auto;
    width: 80%;
  }

  .caption-box {
    bottom: 16vh;
    font-size: 4.2vw;
    padding: 2vh 4vw;
    border-radius: 4vw;
    max-width: 90vw;
  }
}

/* 공통 초기 상태 */
.HomePC,
.HomeMobile {
  display: block;
  visibility: hidden;
}
