/* Reactive.css */


@media (min-width: 768px) {
  .menu ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup-buttons {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .HomeMobile {
    display: block;
  }
}


.HomePC,
.HomeMobile {
  display: none;
}